<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="assets/css/all.css" rel="stylesheet">
    <link href="assets/css/brands.css" rel="stylesheet">
    <link href="assets/css/solid.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/51c09f9df4.js" crossorigin="anonymous"></script>
    <title>Aerolineas MATT - Un viaje, mil sueños</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light" style="background-color: #07006d;">
            <div class="container">
                <a class="navbar-brand" href="#" style="color:white;">Aerolineas MATT</a>
            </div>
        </nav>
    </header>
    <main>
        <img src="./assets/img/avion.jpg" alt="">
        <h1 id="outCome" class=""></h1>
        <div class="container">
            <h1>Aerolineas MATT</h1>
            <br>
            <h4>Un viaje, mil sueños</h4>
            <span id="divInner"></span>
        </div>
    </main>
    </div>
    <span id="selectContinentsSpan"></span>
    <section>
        <div class="container">
            <div class="form">
                <form id="newDestiny">
                    <div class="form-row mt-4 justify-content-center">
                        <div class="col">
                            <input type="text" class="form-control" id="originFly"
                                placeholder="Ingrese el PAIS Origen*">
                            <ul class="listOr"></ul>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="destinyFly"
                                placeholder="Ingrese el PAIS Destino*">
                            <ul class="listDest"></ul>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="travelTime" placeholder="Duracion (Dias) *">
                        </div>
                        <div class="col">
                            <select id="selectBaggage" class="form-control">
                                <option value="">Elige un equipaje<i class="fa-solid fa-suitcase-rolling"></i><span
                                        class="obligatorio">*</span></option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="date" id="datemin" class="form-control" name="datemax" min="2022-08-10">
                        </div>
                        <div class="form-check">
                            <label>
                                <input name="type_go" class="form-check-input" type="radio" value="Solo Ida" />
                                <span>Solo Ida</span><br>
                            </label>
                            <label>
                                <input name="type_go" type="radio" value="Ida y Vuelta" />
                                <span>Ida y Vuelta</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4" id="seleccionid">RESERVAR <i
                            class="fa-solid fa-person-walking-luggage"></i></button>
                </form>
            </div>
        </div>
    </section>
    <section class="tablaContinentes">
        <div class="col"><input type="text" class="form-control" name="buscador" id="buscador"
                placeholder="Buscar pais..."></div>
        <table class="table table-hover" id="listaContinentes">
            <thead>
                <tr>
                    <th scope="col">CONTINENTE</th>
                    <th scope="col">PAIS</th>
                    <th scope="col">PRECIO APROXIMADO</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
    <section id="divisaSelector">
        <div class="seleccionPrecio" id="seleccionDiv">
            <div class="containers" id="divisas">
                <header>Antes de continuar, por favor seleccione su divisa</header>
                <input type="submit" class="usd" id="selectValueUSD" value="USD">
                <input type="submit" class="ars" id="selectValueARS" value="ARS">
            </div>
        </div>
    </section>
    <script src="./assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>